@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BulkCarnageIQ.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                <span>Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/MealTracker">
                <i class="bi bi-clipboard-data fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                <span>Meal Tracker</span>
            </NavLink>
            <div class="collapse show" id="foodTrackerMenu">
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/MealTrackerReport">
                        <i class="bi bi-graph-up fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                        Meal Report
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/MealTrackerTopFoods">
                        <i class="bi bi-graph-up fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                        Top Foods
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/MealTrackerReportMacro">
                        <i class="bi bi-graph-up fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                        Report Macro
                    </NavLink>
                </div>
            </div>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/GroceryList">
                <i class="bi bi-basket-fill fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                <span>Grocery List</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/FoodList">
                <i class="bi bi-list-ul fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                <span>Food List</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/UserProfile">
                <i class="bi bi-person-circle fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                <span>User Profile</span>
            </NavLink>
            <div class="collapse show" id="userProfileMenu">
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link d-flex align-items-center gap-2 py-2" href="/WeightTracker">
                        <i class="bi bi-graph-up fs-5 me-2 d-inline-flex align-items-center justify-content-center"></i>
                        Weight
                    </NavLink>
                </div>
            </div>
        </div>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
